GITGUARDIAN_API_KEY=""
GITHUB_TOKEN="<your_github_token_here>"
IRISHLAB_BOT_APP_ID=""
IRISHLAB_BOT_CLIENT_ID=""
IRISHLAB_BOT_PRIVATE_KEY=""
SONARQUBE_TOKEN=""
TS_OAUTH_CLIENT_ID=""
TS_OAUTH_CLIENT_SECRET=""
